swagger: "2.0"
info:
  description: "This is UTweet API's documention. You can call this API at [https://utweet-api.io](https://utweet-api.io), you can find out more informations about models for example in the official git: [UTweet-Git](https://github.com/Relwyn/UTweet.io). "
  version: "1.0.0"
  title: "UTweet"
host: "utweet-api.io"
basePath: "/"
tags:
  - name: "Authenticate"
    description: "Log the user"
  - name: "Message"
    description: "Message's information"
  - name: "Twitter_account"
    description: "Everything about the Twitter acccounts linked to the User"
  - name: "User"
    description: "Everything about the User"
  - name: "Subscription"
    description: "Everything about the user's Subscription"

schemes:
  - "https"
paths:
  /login:
    post:
      tags:
        - "Authenticate"
      summary: "Add a new user to the DB"
      description: "Add a new user and send him a validation mail available for 2 days, if he does not authenticate delete his account"
      operationId: "login"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "User object that needs to be added to the DB"
          required: true
          schema:
            $ref: "#/definitions/Auth"
      responses:
        200:
          description: "ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        400:
          description: "badRequest"
        401:
          description: "unauthorized"

  /user:
    post:
      tags:
        - "User"
      summary: "Add a new user to the DB"
      description: "Add a new user and send him a validation mail available for 2 days, if he does not authenticate delete his account"
      operationId: "addUser"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "User object that needs to be added to the DB"
          required: true
          schema:
            type: "object"
            properties:
              User:
                $ref: "#/definitions/User"
              Auth:
                $ref: "#/definitions/Auth"
      responses:
        400:
          description: "badRequest"

    put:
      tags:
        - "User"
      summary: "Update an existing user"
      description: ""
      operationId: "updateUser"
      consumes:
        - "application/json"
        - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - in: "body"
          name: "body"
          description: "User object that needs to be updated"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        400:
          description: "badRequest"
        404:
          description: "notFound"


    get:
      tags:
        - "User"
      summary: "Finds User by Id"
      description: "return user's data"
      operationId: "getUser"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "notFound"

    delete:
      tags:
        - "User"
      summary: "Deletes a user"
      description: ""
      operationId: "deleteUser"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
      responses:
        404:
          description: "notFound"
        500:
          description: "internalServerError"

  /subscription:
    post:
      tags:
        - "Subscription"
      summary: "Add a new subscription to the DB"
      description: ""
      operationId: "addSubscription"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Subscription object that needs to be added to the DB"
          required: true
          schema:
            $ref: "#/definitions/Subscription"
      responses:
        400:
          description: "badRequest"
    get:
      tags:
        - "Subscription"
      summary: "Find the user's Subscription"
      description: ""
      operationId: "getSubscription"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/Subscription"
        404:
          description: "notFound"

    put:
      tags:
        - "Subscription"
      summary: "Update the user's subscription"
      description: ""
      operationId: "updateSubscription"
      consumes:
        - "application/json"
      produces:
        - "application/xml"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "messageId"
          in: "path"
          description: "Id of the message to update"
          required: true
          type: "integer"
        - in: "body"
          name: "body"
          description: "Subscription object that needs to be updated"
          required: true
          schema:
            $ref: "#/definitions/Subscription"
      responses:
        400:
          description: "badRequest"
        404:
          description: "notFound"

  /twitterAccount:
    post:
      tags:
        - "Twitter_account"
      summary: "Add a new twitter_account to the DB"
      description: "Connect and add twitter account's data to the DB"
      operationId: "addTwitter_account"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Twitter account object that needs to be added to the DB"
          required: true
          schema:
            type: "object"
            properties:
              Twitter_account:
                $ref: "#/definitions/Twitter_account"
      responses:
        400:
          description: "badRequest"
    get:
      tags:
        - "Twitter_account"
      summary: "Find all user's Twitter_account"
      description: ""
      operationId: "getAllTwitter_account"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
      responses:
        200:
          description: "ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Auth"
        404:
          description: "notFound"

  /twitterAccount/{twitter_accountId}:
    get:
      tags:
        - "Twitter_account"
      summary: "Find user's Twitter_account by Id"
      description: ""
      operationId: "getTwitter_account"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "twitter_accountId"
          in: "path"
          description: "Id of the twitter_account to get"
          required: true
          type: "integer"
      responses:
        200:
          description: "ok"
          schema:
            $ref: "#/definitions/Twitter_account"
        404:
          description: "notFound"

    delete:
      tags:
        - "Twitter_account"
      summary: "Deletes a user's twitter_account by id"
      description: ""
      operationId: "deleteTwitter_account"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "twitter_accountId"
          in: "path"
          description: "Id of the twitter_account to get"
          required: true
          type: "integer"
      responses:
        404:
          description: "notFound"
        500:
          description: "internalServerError"

  /message:
    post:
      tags:
        - "Message"
      summary: "Add a new message to the DB"
      description: "Add a new message to the DB linked to the user and twitter account"
      operationId: "addMessage"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Message object that needs to be added to the DB"
          required: true
          schema:
            $ref: "#/definitions/Message"
      responses:
        400:
          description: "badRequest"
  /message/{offset}/{limit}:
    get:
      tags:
        - "Message"
      summary: "Find all user's message"
      description: "return all user's message from offset and limit value"
      operationId: "getMessage"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "offset"
          in: "path"
          description: "Offset used for the sql request"
          required: true
          type: "integer"
        - name: "limit"
          in: "path"
          description: "Limit used for the sql request"
          required: true
          type: "integer"
      responses:
        200:
          description: "ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Message"
        404:
          description: "notFound"

  /message/{messageId}:
    put:
      tags:
        - "Message"
      summary: "Update a user's message"
      description: "Check if the user is the owner, find and update the message"
      operationId: "updateMesssage"
      consumes:
        - "application/json"
      produces:
        - "application/xml"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "messageId"
          in: "path"
          description: "Id of the message to update"
          required: true
          type: "integer"
        - in: "body"
          name: "body"
          description: "Message object that needs to be updated"
          required: true
          schema:
            $ref: "#/definitions/Message"
      responses:
        400:
          description: "badRequest"
        404:
          description: "notFound"
    get:
      tags:
        - "Message"
      summary: "Find users's message by Id"
      description: "return message's data"
      operationId: "getAllMessage"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "messageId"
          in: "path"
          description: "id of the message to get"
          required: true
          type: "integer"
      responses:
        200:
          description: "ok"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Message"
        404:
          description: "notFound"
    delete:
      tags:
        - "Message"
      summary: "Deletes a message"
      description: "delete a message by id"
      operationId: "deleteMessage"
      produces:
        - "application/json"
      parameters:
        - in: "header"
          name: "token"
          description: "Token containing user's id"
          type: "string"
        - name: "messageId"
          in: "path"
          description: "Id of the message to delete"
          required: true
          type: "integer"
      responses:
        404:
          description: "notFound"
        500:
          description: "internalServerError"

definitions:
  Auth:
    type: "object"
    properties:
      email:
        type: "string"
      password:
        type: "string"
    xml:
      name: "Auth"
  Message:
    type: "object"
    properties:
      id:
        type: "integer"
      text:
        type: "string"
        description: "message's text"
      date:
        type: "string"
        description: "next sending date"
      countdown:
        type: "string"
        description: "number of Message to send"
      timer:
        type: "string"
        description: "time between each message"
      user_id:
        type: "integer"
        description: "user's id"
      twitter_account:
        type: "array"
        items:
          type: "integer"
      images:
        type: "array"
        description: "array of image in base64 string format "
        items:
          type: "object"
          properties:
            id:
              type: "integer"
            base64:
              type: "string"

    xml:
      name: "Message"

  Subscription:
    type: "object"
    properties:
      start:
        type: "string"
        description: "start date of the subcription"
      end:
        type: "string"
        description: "end date of the subcription"
      auto:
        type: "boolean"
        description: "In the future of the application, the user will be automatically debited "
      counter:
        type: "integer"
    xml:
      name: "Subscription"

  Subscription_type:
    type: "object"
    properties:
      label:
        type: "string"
      tweet_number:
        type: "string"
      auto:
        type: "string"
    xml:
      name: "Subscription_type"

  Twitter_account:
    type: "object"
    properties:
      id:
        type: "integer"
      api_id:
        type: "string"
      api_secret:
        type: "string"
      email:
        type: "string"
      name:
        type: "string"
    xml:
      name: "Twitter_account"
  Reset:
    type: "object"
    properties:
      token:
        type: "integer"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
    xml:
      name: "Reset"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      active:
        type: "boolean"
      logo_path:
        type: "string"
    xml:
      name: "User"
